:root {
    --white: white;
    --title: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 47%, rgba(0,0,0,1) 100%);
    --menu: rgb(171, 171, 171);
    --bg-gray: rgb(209, 210, 210);
    --black: black;
    --info: rgb(240, 239, 239);
}

body, html {
    height: 100%;
}
 
body {
    margin: 0;
    padding: 0;
}
.mega-container{
    margin-top: 10px;
    width:95%;
    height: 95%;
    margin-left: 2%;
    background-color: wheat;
}

.super-container {
    margin-top: -56px;
 }

.container {
    width: 100%;
    height: 80%;
    display: flex;
}

.title{
    display: flex;
    background: var(--title);
    width: 100%;
    height: 210px;
}

h1{
    color: azure;
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1{
    color: black;
}

.menu{
    width: 123px;
    height: 100%;
    background-color: var(--menu);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    width: 100%;
    height: 100%;
    background-color: var(--info);
    display: flex;
    justify-content: center;
}

.name{
    background: var(--title);
    width: 80%;
    /*display: flex;*/
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.profile{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: black;
}

.photo{
    width: 180px;
    margin-top: 13px;
    height: 180px;
    border-radius: 51%;
}

.menu-item{
    width: 80px;
    background-color: rgb(117, 115, 115);
    height: 80px;
    margin-top: 61px;
    margin-top: 41px;
    justify-content: center; 
}

.general_info{
    width: 80%;
    height: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 19px;
}

h3{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.info_item{
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    height: 169px;
    margin-bottom: 27px;
    text-align: center;
}
.subtitle{
    color: azure;
    text-transform: uppercase;
}

